{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin/assign_status.css' %}">
{% endblock %}

{% block title %}
    Assign Status
{% endblock %}

{% block body %}
    <section id="section-start">
        <div class="container mt-2">
            <div class="col-md-6 mx-auto">
                <div class="assign-status">
                    <h2 class="text-center font-weight-bold">Assign Status</h2>
                    <form method="post" action="#">

                        {% csrf_token %}

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="font-weight-bold">Company Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                   value="{{ recu_info.company_name }}" readonly>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1" class="font-weight-bold">Recruiter Email</label>
                            <input type="text" class="form-control" id="exampleInputPassword1"
                                   value="{{ recu_info.uname.email }}"
                                   readonly>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail4" class="font-weight-bold">Assign Status</label>
                            <select name="status" class="form-control">
                                <option value="accepted">Accept</option>
                                <option value="rejected">Reject</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <button id="submit" type="submit" class="btn btn-primary btn-block">
                                Save Changes
                            </button>
                            <button id="btn-loader" class="btn btn-primary btn-block"
                                    type="button" disabled><span class="spinner-border spinner-border-sm" role="status"
                                                                 aria-hidden="true"></span>
                                Please Wait...
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}