{% extends 'base.html' %}

{% block title %}
    Recruiter Request
{% endblock %}

{% block body %}
    <section id="section-start">

        {% include 'common/message.html' %}

        <div class="container-fluid" style="margin-bottom: 200px">
            <div class="row mt-5">
                <div class="col-lg-12 mb-5">
                    <div class="card table-responsive-sm">

                        <h5 class="card-header text-center">New Recruiter Request</h5>

                        <table class="table text-center mt-5">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sr. No.</th>
                                <th scope="col">Fullname</th>
                                <th scope="col">Email</th>
                                <th scope="col">Date of Joining</th>
                                <th scope="col">Image</th>
                                <th scope="col">Status</th>
                                <th scope="col">Assign Status</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for n in new_recu %}
                                {% if n.status == "pending" %}
                                    <tr>
                                        <td scope="row">{{ forloop.counter }}</td>
                                        <td scope="row">{{ n.uname.first_name }} {{ n.uname.last_name }}</td>
                                        <td scope="row">{{ n.uname.email }}</td>
                                        <td scope="row">{{ n.uname.date_joined }}</td>
                                        <td scope="row"><img src="{{ n.recruiter_image.url }}" alt=""
                                                             style="max-height: 150px; max-width: 150px; border-radius: 30px">
                                        </td>
                                        <td scope="row" class="text-danger font-weight-bold">{{ n.status }}</td>
                                        <td scope="row"><a href="{% url 'assignStatus' n.uname.id %}" role="button"
                                                           class="btn btn-primary btn-sm font-weight-bold"
                                                           style="text-decoration: none; color: white"><i class="far fa-edit"></i> Assign Status</a>
                                        </td>
                                        <td scope="row"><a href="{% url 'deleteRecruiter' n.uname.id %}" role="button"
                                                           class="btn btn-danger btn-sm"
                                                           style="text-decoration: none; color: white"><i
                                                class="fas fa-trash-alt"></i></a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}