{% extends 'base.html' %}

{% block title %}
    All Recruiter
{% endblock %}

{% block body %}
    <section id="section-start">

        {% include 'common/message.html' %}

        <div class="container-fluid" style="margin-bottom: 200px">
            <div class="row mt-5">
                <div class="col-lg-12 mb-5">
                    <div class="card table-responsive-sm">

                        <h5 class="card-header text-center">All Recruiters</h5>

                        <table class="table text-center mt-5">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sr. No.</th>
                                <th scope="col">Fullname</th>
                                <th scope="col">Email</th>
                                <th scope="col">Date of Joining</th>
                                <th scope="col">Image</th>
                                <th scope="col">Account Status</th>
                                <th scope="col">Assign Account Status</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for r in recu %}
                                {% if r.status == "accepted" %}
                                    <tr>
                                        <td scope="row">{{ forloop.counter }}</td>
                                        <td scope="row">{{ r.uname.first_name }} {{ r.uname.last_name }}</td>
                                        <td scope="row">{{ r.uname.email }}</td>
                                        <td scope="row">{{ r.uname.date_joined }}</td>
                                        <td scope="row"><img src="{{ r.recruiter_image.url }}" alt=""
                                                             style="max-height: 150px; max-width: 150px; border-radius: 30px">
                                        </td>
                                        <td scope="row">
                                            {% if r.uname.is_active %}
                                                <span class="text-success font-weight-bold">Active</span>
                                            {% else %}
                                                <span class="text-danger font-weight-bold">Disabled</span>
                                            {% endif %}

                                        </td>

                                        <td scope="row"><a href="{% url 'temporaryDisable' r.uname.id %}"
                                                           role="button"
                                                           class="btn btn-primary btn-sm"
                                                           style="text-decoration: none; color: white"><i
                                                class="fas fa-user-edit"></i></a></td>

                                        <td scope="row"><a href="{% url 'deleteRecruiter' r.uname.id %}"
                                                           role="button"
                                                           class="btn btn-danger btn-sm"
                                                           style="text-decoration: none; color: white"><i
                                                class="fas fa-trash-alt"></i></a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}