{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/common/change-password.css' %}">
{% endblock %}

{% block title %}
    Change Password
{% endblock %}

{% block body %}

    <section id="section-start">

        {% include 'common/message.html' %}

        <div class="container change-password">
            <div class="title text-center">
                <h3 class="font-weight-bold">Change Password</h3>
            </div>
            <hr>
            <form action="{% url 'changePassword' %}" method="post">
                {% csrf_token %}
                <!-- Old Password input -->
                <div class="form-outline mb-4 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="password" name="oldpass" id="form2Example1" class="form-control"
                           placeholder="Old Password"/>
                </div>

                <!-- New Password input -->
                <div class="form-outline mb-4 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                    </div>
                    <input type="password" name="newpass1" id="form2Example2" class="form-control"
                           placeholder="New Password"/>
                </div>

                <!-- Confirm Password input -->
                <div class="form-outline mb-4 input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                    </div>
                    <input type="password" name="newpass2" id="form2Example2" class="form-control"
                           placeholder="Confirm Password"/>
                </div>

                <!-- Submit button -->
                <div class="text-center">
                    <button id="submit" type="submit" class="btn btn-primary btn-block mb-4 font-weight-bold">
                        Update Password</button>
                    <button id="btn-loader" class="btn btn-primary"
                            type="button" disabled><span class="spinner-border spinner-border-sm" role="status"
                                                         aria-hidden="true"></span>
                        Please Wait...
                    </button>
                </div>
            </form>
        </div>

    </section>

{% endblock %}