<section id="footer" class="text-center">
    <footer class="footer mt-5 p-5">
        <div class="container-fluid">
            <p class="lead text-center">
                Copyright &copy; 2021 Easy-Recruit <br>
                <small>
                    Design and Developed By :
                    <a href="https://www.linkedin.com/in/techienaman/"
                       style="text-decoration: none; color: #6db9ef" target="_blank">
                        Naman Kumar
                    </a>
                </small>
            </p>
        </div>
    </footer>
</section>