{% extends 'base.html' %}
{% load static %}
{% load is_job_already_applied %}
{% load is_job_already_saved %}
{% load is_same_recruiter %}
{% load is_job_expired %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/common/job_details.css' %}">
{% endblock %}

{% block title %}
    Job Details
{% endblock %}

{% block body %}

    <section id="section-start">

        {% include 'common/message.html' %}

        <div class="container job-details">

            <!-- Restrict Some other recruiters To edit of apply for job  -->

            {% if user.is_authenticated and user.role == "recruiter" %}
                {% is_same_recruiter job_details.id user as is_same %}
                {% if not is_same %}
                    <div class="alert alert-warning" role="alert">
                        <strong class="text-danger">This job is not posted by you <i class="far fa-frown-open"></i>
                            so you can only view this job !!!
                        </strong>
                    </div>
                {% endif %}
            {% endif %}

            <!-- Showing warning to recruiter if job is expired  -->

            {% if user.is_authenticated and user.role == "recruiter" %}
                {% is_job_expired job_details.id as is_expired %}
                {% if is_expired and is_same %}
                    <div class="alert alert-warning" role="alert">
                        <strong class="text-danger">
                            Job has been expired <i class="far fa-frown-open fx-2x"></i>, so candidates can't apply for
                            this job. <br>
                            You can extend the last date by editing the job, so that candidates can apply !!!
                        </strong>
                    </div>
                {% endif %}
            {% endif %}


            <div class="row align-items-center mb-5">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div class="border p-2 d-inline-block mr-3 rounded">
                            <img src="{{ job_details.company_logo_image.url }}" alt="Image">
                        </div>
                        <div>
                            <h2>
                                {{ job_details.job_title }}
                                {% if user.is_authenticated and user.role == "admin" %}
                                    <small class="h6 text-danger">
                                        [ Posted by - {{ job_details.recruiter.uname.first_name }} ]
                                    </small>
                                {% endif %}
                            </h2>
                            <div>
                                <span class="ml-0 mr-2 mb-2"><i class="fas fa-briefcase"></i>
                                    <a href="{{ job_details.website_link }}"
                                       target="_blank">{{ job_details.recruiter.company_name }}</a>
                                </span>
                                <span class="m-2"><i class="fas fa-map-marker-alt"></i>
                                    {{ job_details.job_location }}
                                </span>
                                <span class="m-1"><i class="far fa-clock"></i></span>
                                <span class="text-primary">
                                {% if job_details.job_type == "Full Time" %}
                                    <span class="badge badge-primary">Full Time</span>
                                {% elif job_details.job_type == "Part Time" %}
                                    <span class="badge badge-danger">Part Time</span>
                                {% else %}
                                    <span class="badge badge-info">Internship</span>
                                {% endif %}
                                  </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <!---------------Top Save Button to save job----------------->
                        {% if user.is_authenticated and user.role == "candidate" %}
                            {% is_job_expired job_details.id as is_expired %}
                            {% if is_expired %}

                                <div class="col-5">
                                    <a href="#"
                                       class="btn btn-block btn-light btn-md" disabled="disabled">Save</a>
                                </div>

                            {% else %}
                                {% is_job_already_saved job_details user as is_saved %}
                                {% if is_saved %}
                                    <div class="col-5">
                                <span href="#" class="btn btn-block btn-light btn-md">
                                    <span class="text-danger"><i class="far fa-heart"></i></span>
                                     Saved
                                </span>
                                    </div>
                                {% else %}
                                    <div class="col-5">
                                        <a href="{% url 'bookmarkJob' job_details.id %}"
                                           class="btn btn-block btn-light btn-md">Save</a>
                                    </div>
                                {% endif %}
                            {% endif %}

                        {% elif user.role == "recruiter" %}
                            {% is_same_recruiter job_details.id user as is_same %}
                            {% if is_same %}
                                <div class="col-5">
                                    <a href="{% url 'deleteJob' job_details.id %}"
                                       class="btn btn-block btn-danger btn-md">Delete</a>
                                </div>
                            {% endif %}
                        {% elif user.role == "admin" %}
                            <div class="col-5">
                                <a href="{% url 'sendWarningToRecruiter' job_details.id %}"
                                   class="btn btn-block btn-warning btn-md">Send Warning</a>
                            </div>
                        {% else %}
                            <div class="col-5">
                                <a href="{% url 'bookmarkJob' job_details.id %}" class="btn btn-block btn-light btn-md">Save</a>
                            </div>
                        {% endif %}

                        <!---------------Top apply button to apply for a job----------------->
                        {% if user.is_authenticated and user.role == "candidate" %}
                            {% if is_expired %}

                                <div class="col-7">
                                    <a href="#" style="text-decoration: none">
                                        <button type="button" class="btn btn-block btn-danger btn-md" disabled>
                                            Expired
                                        </button>
                                    </a>
                                </div>

                            {% else %}
                                {% is_job_already_applied job_details.id request.user as applied %}
                                {% if applied %}
                                    <div class="col-7">
                                        <a href="#" style="text-decoration: none">
                                            <button type="button" class="btn btn-block btn-danger btn-md" disabled>
                                                Already Applied
                                            </button>
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="col-7">
                                        <a href="{% url 'applyJob' job_details.id %}" style="text-decoration: none">
                                            <button type="button" class="btn btn-block btn-primary btn-md">
                                                Apply Now
                                            </button>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}

                        {% elif user.role == "recruiter" %}
                            {% if is_same %}
                                <div class="col-7">
                                    <a href="{% url 'editJob' job_details.id %}"
                                       class="btn btn-block btn-warning btn-md">Edit</a>
                                </div>
                            {% endif %}
                        {% elif user.role == "admin" %}
                            <div class="col-7">
                                <a href="{% url 'deleteJobByAdmin' job_details.id %}"
                                   class="btn btn-block btn-danger btn-md">Delete Job</a>
                            </div>
                        {% else %}
                            <div class="col-7">
                                <a href="{% url 'applyJob' job_details.id %}" style="text-decoration: none">
                                    <button type="button" class="btn btn-block btn-primary btn-md">
                                        Apply Now
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-5">

                        <h3 class="h5 d-flex align-items-center mb-4 text-primary">
                            <i class="fas fa-graduation-cap mr-2"></i> Educations
                        </h3>

                        {{ job_details.education | safe }} <br>

                        <h3 class="h5 d-flex align-items-center mb-4 text-primary">
                            <i class="fas fa-user-graduate mr-2"></i> Qualifications
                        </h3>

                        {{ job_details.qualification | safe }} <br>

                        <h3 class="h5 d-flex align-items-center mb-4 text-primary"><i
                                class="fas fa-align-left mr-2"></i>Job
                            Description</h3>
                        {{ job_details.description | safe }}

                    </div>

                    <!------------------------ Bottom Save button   ---------------------------->

                    <div class="row mb-5">

                        {% if user.is_authenticated and user.role == "candidate" %}
                            {% if is_expired %}

                                <div class="col-6">
                                    <a href="#"
                                       class="btn btn-block btn-light btn-md" disabled="disabled">Save</a>
                                </div>

                            {% else %}
                                {% if is_saved %}
                                    <div class="col-6">
                                    <span href="#" class="btn btn-block btn-light btn-md">
                                    <span class="text-danger"><i class="far fa-heart"></i></span>
                                     Saved
                                </span>
                                    </div>
                                {% else %}
                                    <div class="col-6">
                                        <a href="{% url 'bookmarkJob' job_details.id %}"
                                           class="btn btn-block btn-light btn-md">Save</a>
                                    </div>
                                {% endif %}
                            {% endif %}

                        {% elif user.role == "recruiter" %}
                            {% if is_same %}
                                <div class="col-6">
                                    <a href="{% url 'deleteJob' job_details.id %}"
                                       class="btn btn-block btn-danger btn-md">Delete</a>
                                </div>
                            {% endif %}
                        {% elif user.role == "admin" %}
                            <div class="col-6">
                                <a href="{% url 'sendWarningToRecruiter' job_details.id %}"
                                   class="btn btn-block btn-warning btn-md">Send Warning To Recruiter </a>
                            </div>
                        {% else %}

                            <div class="col-6">
                                <a href="{% url 'bookmarkJob' job_details.id %}"
                                   class="btn btn-block btn-light btn-md">Save</a>
                            </div>

                        {% endif %}

                        <!--------------- Apply Button on bottom side  -------------------->

                        {% if user.is_authenticated and user.role == "candidate" %}
                            {% if is_expired %}
                                <div class="col-6">
                                    <a href="#" style="text-decoration: none">
                                        <button type="button" class="btn btn-block btn-danger btn-md" disabled>
                                            Expired
                                        </button>
                                    </a>
                                </div>
                            {% else %}
                                {% if applied %}
                                    <div class="col-6">
                                        <a href="#" style="text-decoration: none">
                                            <button type="button" class="btn btn-block btn-danger btn-md" disabled>
                                                Already Applied
                                            </button>
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="col-6">
                                        <a href="{% url 'applyJob' job_details.id %}" style="text-decoration: none">
                                            <button type="button" class="btn btn-block btn-primary btn-md">
                                                Apply Now
                                            </button>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}

                        {% elif user.role == "recruiter" %}
                            {% if is_same %}
                                <div class="col-6">
                                    <a href="{% url 'editJob' job_details.id %}" style="text-decoration: none">
                                        <button type="button" class="btn btn-block btn-warning btn-md">
                                            Edit
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                        {% elif user.role == "admin" %}
                            <div class="col-6">
                                <a href="{% url 'deleteJobByAdmin' job_details.id %}" style="text-decoration: none">
                                    <button type="button" class="btn btn-block btn-danger btn-md">
                                        Delete Job
                                    </button>
                                </a>
                            </div>
                        {% else %}
                            <div class="col-6">
                                <a href="{% url 'applyJob' job_details.id %}" style="text-decoration: none">
                                    <button type="button" class="btn btn-block btn-primary btn-md">
                                        Apply Now
                                    </button>
                                </a>
                            </div>

                        {% endif %}

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="bg-light p-3 border rounded mb-4">
                        <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Job Summary</h3>
                        <ul class="list-unstyled pl-3 mb-0">
                            <li class="mb-2"><strong class="text-black">Published
                                on:</strong> {{ job_details.timestamp|date:"d M Y" }}</li>
                            <li class="mb-2"><strong class="text-black">Employment Status:</strong>
                                {% if job_details.job_type == "Full Time" %}
                                    <span class="badge badge-primary">Full Time</span>
                                {% elif job_details.job_type == "Part Time" %}
                                    <span class="badge badge-danger">Part Time</span>
                                {% else %}
                                    <span class="badge badge-info">Internship</span>
                                {% endif %}
                            </li>
                            <li class="mb-2"><strong class="text-black">
                                Job Location:</strong> {{ job_details.job_location }}
                            </li>
                            <li class="mb-2"><strong class="text-black">
                                Salary:</strong> {{ job_details.salary }}
                            </li>
                            <li class="mb-2"><strong class="text-black">
                                Experience:</strong> {{ job_details.experience }}
                            </li>
                            <li class="mb-2"><strong class="text-black">
                                Application Deadline:</strong>

                                {% if is_expired %}
                                    <span class="text-danger font-weight-bold">{{ job_details.last_date|date:"d M Y" }}</span>
                                {% else %}
                                    {{ job_details.last_date|date:"d M Y" }}
                                {% endif %}

                            </li>
                        </ul>
                    </div>

                    <div class="bg-light p-3 border rounded">
                        <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Share</h3>
                        <div class="px-3">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                               class="pt-3 pb-3 pr-3 pl-0" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}"
                               class="pt-3 pb-3 pr-3 pl-0" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}"
                               class="pt-3 pb-3 pr-3 pl-0" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            <a href="http://pinterest.com/pin/create/link/?url={{ request.build_absolute_uri }}"
                               class="pt-3 pb-3 pr-3 pl-0" target="_blank"><i class="fab fa-pinterest"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}