<section id="header">
    <div class="menu-bar">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">
                <span class="font-weight-bold text-danger"><i
                        class="fas fa-briefcase text-primary"></i> EASY</span><span
                    class="text-success">-</span><span
                    class="font-weight-bold text-info">RECRUIT</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if not user.role == "admin" %}
                        <li class="nav-item">
                            <a class="nav-link" href="/"><i class="fas fa-home"></i> HOME<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-address-card"></i> ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}"><i class="fas fa-phone"></i> CONTACT</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        {% if user.role == "candidate" %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'listJobs' %}"><i class="fas fa-list-ul"></i> JOB LISTS</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'appliedJobsByCandidate' %}"><i
                                        class="fas fa-briefcase"></i> APPLIED JOBS</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'savedJobs' %}"><i class="far fa-bookmark"></i> SAVED
                                    JOBS</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    WELCOME, <span class="text-uppercase">{{ user.first_name }} <i
                                        class="fas fa-user"></i></span>
                                </a>


                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'changePassword' %}"><i
                                            class="fas fa-key"></i> Change Password</a>
                                    <a class="dropdown-item" href="{% url 'editCandidateProfile' %}"><i
                                            class="fas fa-user-edit"></i> Edit Profile</a>
                                </div>
                            </li>

                        {% endif %}

                        {% if user.role == "recruiter" %}

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-briefcase"></i> JOB
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'postJob' %}"><i
                                            class="far fa-plus-square"></i> POST JOB</a>
                                    <a class="dropdown-item" href="{% url 'mypostedJobs' %}"><i
                                            class="fas fa-briefcase"></i> MY POSTED JOBS</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'candidateApplied' %}"><i class="fas fa-users"></i>
                                    CANDIDATE APPLIED</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    WELCOME, <span class="text-uppercase">{{ user.first_name }} <i
                                        class="fas fa-user"></i></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'changePassword' %}"><i
                                            class="fas fa-key"></i> Change Password</a>
                                    <a class="dropdown-item" href="{% url 'editRecruiterProfile' %}"><i
                                            class="fas fa-user-edit"></i> Edit Profile</a>
                                </div>
                            </li>
                        {% endif %}

                        {% if user.role == "admin" %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'adminPanel' %}"><i class="fas fa-home"></i> HOME<span
                                        class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'newRecruiterRequest' %}">
                                    <i class="fas fa-inbox"></i> NEW RECRUITER REQUEST</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'listJobs' %}">
                                    <i class="fas fa-briefcase"></i> ALL JOBS</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'viewAllCandidate' %}">
                                    <i class="fas fa-user-alt"></i> CANDIDATES</a>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    RECRUITER <i class="fas fa-user-tie"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'viewAllRecruiter' %}">View Recruiters</a>
                                    <a class="dropdown-item" href="{% url 'addNewRecruiter' %}">Add Recruiter</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'queries' %}">
                                    <i class="far fa-question-circle"></i> QUERIES</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    WELCOME, <span class="text-uppercase">{{ user.username }} <i
                                        class="fas fa-user"></i></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'changePassword' %}"><i
                                            class="fas fa-key"></i> Change Password</a>
                                    <a class="dropdown-item" href="{% url 'editAdminProfile' %}"><i class="fas fa-user-edit"></i> Edit Profile</a>
                                </div>
                            </li>

                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">SIGN-OUT <i
                                    class="fas fa-sign-out-alt"></i></a>
                        </li>
                    {% else %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SIGN-IN <i class="fas fa-sign-in-alt"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'candidateLogin' %}">Candidate</a>
                                <a class="dropdown-item" href="{% url 'recruiterLogin' %}">Recruiter</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'adminLogin' %}">Admin</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SIGN-UP <i class="fas fa-user-plus"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'candidateRegister' %}">Candidate</a>
                                <a class="dropdown-item" href="{% url 'recruiterRegister' %}">Recruiter</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</section>