{% extends 'base.html' %}

{% block title %}
    Password Reset
{% endblock %}

{% block body %}
    <section id="section-start">

        <div class="container reset-password">
            <h2 class="text-center text-info font-weight-bold">Password Reset</h2>
            <hr>
            <p>
                Forgotten your password? Enter your email address below,
                and we’ll email instructions for setting a new one.
            </p>

            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <button id="submit" type="submit" class="btn btn-primary">
                    Send Email
                </button>
                <button id="btn-loader" class="btn btn-primary font-weight-bold"
                        type="button" disabled><span class="spinner-border spinner-border-sm" role="status"
                                                     aria-hidden="true"></span>
                    Please Wait...
                </button>
            </form>
        </div>

    </section>
{% endblock %}