{% extends 'base.html' %}

{% block title %}
    Password Reset Send
{% endblock %}

{% block body %}

    <section id="section-start">

        <h3 class="text-success">Password Reset Send</h3>

        <p>
            We’ve emailed you instructions for setting your password,
            if an account exists with the email you entered. <br> You should
            receive them shortly. If you don’t receive an email, please
            make sure you’ve entered the address you registered with, and
            check your spam folder.
        </p>

        <a href="/">
            <button class="btn btn-primary">Home</button>
        </a>

    </section>

{% endblock %}