{% extends 'base.html' %}

{% block title %}
    My Posted Jobs
{% endblock %}

{% block body %}

    <section id="section-start">
        <div class="container" style="margin-bottom: 200px">
            <div class="row mt-5">
                <div class="col-lg-12 mb-5">
                    <div class="card">

                        <h5 class="card-header text-center">My Posted Jobs</h5>

                        <table class="table text-center mt-5">
                            <thead class="thead-dark">
                            <tr>
                                <th>Sr. No</th>
                                <th>Job Title</th>
                                <th>Posted Date</th>
                                <th>Last Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for m in myjobs %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="{% url 'jobDetails' m.id %}" style="text-decoration: none">{{ m.job_title }}</a></td>
                                    <td>{{ m.start_date }}</td>
                                    <td>{{ m.last_date }}</td>
                                    <td><a href="{% url 'deleteJob' m.id %}" class="btn btn-danger btn-sm">Delete Job</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}