{% extends 'base.html' %}
{% load is_job_expired %}

{% block title %}
    My Posted Jobs
{% endblock %}

{% block body %}

    <section id="section-start">

        {% include 'common/message.html' %}

        {% if myjobs.status == "pending" %}
            <div class="alert alert-info mt-5" role="alert">
                <p class="text-dark font-weight-bold">Account is pending will be reviewed by admin, have patience <i
                        class="far fa-smile"></i> !!!</p>
                <span class="text-dark font-weight-bold">Status : </span><span
                    class="badge badge-danger">{{ recu.status }}</span>
            </div>
        {% elif myjobs.status == "rejected" %}
            <div class="alert alert-danger mt-5" role="alert">
                <p class="text-dark font-weight-bold">Sorry <i class="far fa-frown"></i> to inform you that your account
                    has been rejected</p>
                <span class="text-dark font-weight-bold">Status : </span><span
                    class="badge badge-danger">{{ recu.status }}</span>
            </div>
        {% else %}
            <div class="container" style="margin-bottom: 200px">
                <div class="row mt-5">
                    <div class="col-lg-12 mb-5">
                        <div class="card table-responsive-sm">

                            <h5 class="card-header text-center font-weight-bold text-primary">My Posted Jobs</h5>

                            <table class="table text-center mt-5 table-responsive-sm table-striped">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Job Title</th>
                                    <th>Posted Date</th>
                                    <th>Last Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for m in myjobs %}
                                    {% is_job_expired m.id as is_expired %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{% url 'jobDetails' m.id %}"
                                               style="text-decoration: none">{{ m.job_title }}</a></td>
                                        <td>{{ m.start_date }}</td>
                                        <td>
                                            {% if is_expired %}
                                                {{ m.last_date }} - <span class="text-danger font-weight-bold">Expired</span>
                                            {% else %}
                                                {{ m.last_date }} - <span class="text-success font-weight-bold">Active</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'deleteJob' m.id %}" class="btn btn-danger btn-sm"><i
                                                    class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>

{% endblock %}