{% extends 'base.html' %}

{% block title %}
    Recruiter Sign-Up
{% endblock %}

{% block body %}
    <section id="candidate-register">

        <div class="container registerForm">

            {% for msg in messages %}
                <div class="alert alert-danger alert-dismissible fade show col-md-4" role="alert">
                    <span>{{ msg }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            <div class="title text-center" id="recuSignUP-title">
                <h1 class="font-weight-bold">Recruiter Sign-Up</h1>
            </div>
            <hr>
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="inputEmail4" class="font-weight-bold">Firstname</label>
                        <input type="text" name="fname" class="form-control" placeholder="eg: naman" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputEmail4" class="font-weight-bold">Lastname</label>
                        <input type="text" name="lname" class="form-control" placeholder="eg: kumar" required>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputEmail4" class="font-weight-bold">Company Name</label>
                        <input type="text" name="comName" class="form-control" placeholder="eg: xyz infotech" required>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputEmail4" class="font-weight-bold">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="eg: xyz@gmail.com" required>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputEmail4" class="font-weight-bold">Username</label>
                        <input type="text" name="uname" class="form-control" placeholder="eg: xyz123" required>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputEmail4" class="font-weight-bold">Contact Number</label>
                        <input type="text" name="contactNumber" class="form-control" placeholder="eg: 9898989898"
                               required>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputEmail4" class="font-weight-bold">Password</label>
                        <input type="password" name="pass" class="form-control" placeholder="password"
                               required>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputEmail4" class="font-weight-bold">Confirm Password</label>
                        <input type="password" name="confirmPass" class="form-control"
                               placeholder="confirm password" required>
                    </div>


                    <div class="form-group col-md-4">
                        <label for="inputEmail4" class="font-weight-bold">Gender</label><br>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="gender"
                                   class="custom-control-input" value="male">
                            <label class="custom-control-label" for="customRadioInline1">Male</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="gender"
                                   class="custom-control-input" value="female">
                            <label class="custom-control-label" for="customRadioInline2">Female</label>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputEmail4" class="font-weight-bold">Date Of Birth</label>
                        <input type="date" name="dob" class="form-control" required>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="exampleFormControlFile1" class="font-weight-bold">Upload Your Image</label>
                        <input type="file" name="imageFile" class="form-control-file" id="exampleFormControlFile1"
                               required>
                    </div>

                </div>
                <div class="text-center">
                    <button id="submit" type="submit" class="btn btn-primary">Sign-Up</button>
                    <button id="btn-loader" class="btn btn-primary font-weight-bold"
                            type="button" disabled><span class="spinner-border spinner-border-sm" role="status"
                                                         aria-hidden="true"></span>
                        Please Wait...
                    </button>
                </div>
            </form>

        </div>

    </section>
{% endblock %}