{% extends 'base.html' %}

{% block title %}
    Your Applied Jobs
{% endblock %}

{% block body %}

    <section id="section-start">
        <div class="container" style="margin-bottom: 200px">
            <div class="row mt-5">
                <div class="col-lg-12 mb-5">
                    <div class="card">

                        <h5 class="card-header text-center">Your Applied Jobs</h5>

                        <table class="table text-center mt-5">
                            <thead class="thead-dark">
                            <tr>
                                <th>Sr. No.</th>
                                <th>Job Title</th>
                                <th>Posted Date</th>
                                <th>Date expiring</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for j in applied %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="{% url 'jobDetails' j.job_applied.id %}" style="text-decoration: none;">{{ j.job_applied.job_title }}</a></td>
                                    <td>{{ j.job_applied.start_date }}</td>
                                    <td>{{ j.job_applied.last_date }}</td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" href="{% url 'withdrawJob' j.job_applied.id %}" role="button">Withdraw</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}