{% extends 'base.html' %}

{% block title %}
    Your Applied Jobs
{% endblock %}

{% block body %}

    <section id="section-start">

        {% include 'common/message.html' %}

        <div class="container-fluid" style="margin-bottom: 200px">
            <div class="row mt-5">
                <div class="col-lg-12 mb-5">
                    <div class="card table-responsive-sm">

                        <h5 class="card-header text-center">Your Applied Jobs</h5>

                        <table class="table text-center mt-5 table-responsive-sm table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Sr. No.</th>
                                <th scope="col">Job Title</th>
                                <th scope="col">Posted Date</th>
                                <th scope="col">Date expiring</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for j in applied %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><a href="{% url 'jobDetails' j.job_applied.id %}"
                                           style="text-decoration: none;">{{ j.job_applied.job_title }}</a></td>
                                    <td>{{ j.job_applied.start_date }}</td>
                                    <td>{{ j.job_applied.last_date }}</td>
                                    <td>
                                        {% if j.status == "hire" %}
                                            <span class="badge badge-success">Shortlisted</span>
                                        {% elif j.status == "fire" %}
                                            <span class="badge badge-danger">Not Shortlisted</span>
                                        {% else %}
                                            <span class="badge badge-secondary">Pending</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" href="{% url 'withdrawJob' j.job_applied.id %}"
                                           role="button">Withdraw</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}