.change-password {
    max-width: 400px;
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 15px;
    margin: 30px auto;
}

.change-password button {
    border-radius: 10px;
}

.change-password button:hover {
    background: #000;
}

@media screen and (max-width: 400px) {
    .change-password {
        width: 100%;
        border-radius: 0px;
        border: none;
    }
}
