{% extends 'base.html' %}

{% block title %}
    Admin Login
{% endblock %}

{% block body %}
    <section id="section-start">

        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible col-md-4 ml-3" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}

        <div class="container">
            <div class="myClass admin-login-section">
                <div class="title text-center" id="admin-title">
                    <h3 class="font-weight-bold">Admin Sign-In</h3>
                </div>
                <hr>
                <form action="{% url 'adminLogin' %}" method="post">
                    {% csrf_token %}
                    <!-- Username input -->
                    <div class="form-outline mb-4 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="uname" id="form2Example1" class="form-control" placeholder="Username"/>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4 input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                        </div>
                        <input type="password" name="passwd" id="form2Example2" class="form-control"
                               placeholder="Password"/>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                    <!-- Forgot Password link -->
                    <div class="col text-right">
                        <!-- Simple link -->
                        <a href="{% url 'reset_password' %}">Forgot password?</a>
                    </div>
                </form>
            </div>
        </div>

    </section>
{% endblock %}