{% extends 'base.html' %}
{% load static %}
{% block title %}
    Easy-Recruit
{% endblock %}

{% block body %}


    <div class="banner text-center">
        <h1>JOBS AROUND YOU</h1>
        <p>We Will Help You To Find Your Dream Job</p>
    </div>


    <div class="search-job text-center">
        <input type="text" class="form-control form-control-lg" placeholder="Job Title, Company...">
        <input type="text" class="form-control form-control-lg" placeholder="Location">
        <select class="form-control form-control-lg">
            <option>Full Time</option>
            <option>Part Time</option>
            <option>Internship</option>
        </select>
        <button class="btn btn-primary btn-lg"><i class="fas fa-search"></i> Search Job</button>
    </div>



    <section id="recruiters">
        <div class="container text-center">
            <h3>TOP RECRUITERS</h3>
            <div>
                <img src="{% static 'img/recruiters/amazon.jpg' %}" alt="">
                <img src="{% static 'img/recruiters/google.png' %}" alt="">
                <img src="{% static 'img/recruiters/microsoft.jpg' %}" alt="">
                <img src="{% static 'img/recruiters/sprint.jpg' %}" alt="">
                <img src="{% static 'img/recruiters/puma.jpg' %}" alt="">
                <img src="{% static 'img/recruiters/wipro.png' %}" alt="">
                <img src="{% static 'img/recruiters/LTI.png' %}" alt="">
                <img src="{% static 'img/recruiters/infosys.png' %}" alt="">
                <img src="{% static 'img/recruiters/adidas.jpg' %}" alt="">
            </div>
        </div>
    </section>


    <!--------------Recent Jobs----------------->

    <section id="jobs">
        <div class="container">
            <div class="text-center recent-job__title">
                {% if user.is_authenticated and user.role == "recruiter" %}
                    <h2 class="text-info font-weight-bold">Recent Jobs Posted By You</h2>
                {% else %}
                    <h2 class="text-info font-weight-bold">Recent Jobs</h2>
                {% endif %}
            </div>
            <div class="row">
                {% for job in job_data %}
                    <div class="col-9 col-md-6 col-lg-4">
                        <a href="{% url 'jobDetails' job.id %}" style="text-decoration: none">
                            <div class="card recent-job" style="width: 20rem; height: 25rem;">
                                <img class="card-img-top mx-auto" src="{{ job.company_logo_image.url }}"
                                     alt="Company Logo">

                                <div class="card-body text-center">
                                    <h5 class="card-title text-success font-weight-bold">{{ job.job_title }} </h5>
                                    {% if job.job_type == "Full Time" %}
                                        <span class="badge badge-primary">Full Time</span>
                                    {% elif job.job_type == "Part Time" %}
                                        <span class="badge badge-danger">Part Time</span>
                                    {% else %}
                                        <span class="badge badge-info">Internship</span>
                                    {% endif %}
                                    <span class="badge badge-secondary">{{ job.job_location }}</span>
                                    <p class="card-text text-dark mt-3">{{ job.description | safe | truncatechars:150 }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="col-10 mx-auto my-2 text-center">
                {% if job_data.paginator.num_pages > 1 %}
                    {% for page_number in job_data.paginator.page_range %}
                        <a href="?page={{ page_number }}"
                           class="btn btn-outline-primary btn-sm {% if job_data.number == page_number %}active{% endif %}">
                            {{ page_number }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>



    <!-------------Site stats----------------->

    <section id="site-stats">
        <div class="container text-center">
            <h3>EASY-RECRUIT SITE STATS</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <div class="stats-box">
                                <i class="fas fa-user"></i> <span>{{ total_candidate }}</span>
                                <p>Candidates</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="stats-box">
                                <i class="fab fa-slideshare"></i> <span>{{ total_recruiter }}</span>
                                <p>Recruiters</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <div class="stats-box">
                                <i class="fas fa-hand-peace"></i> <span>{{ total_job_posted }}</span>
                                <p>Active Jobs</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="stats-box">
                                <i class="fas fa-building"></i> <span>{{ total_recruiter }}</span>
                                <p>Companies</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}