{% extends 'base.html' %}

{% block title %}
    Query Reply
{% endblock %}

{% block body %}
    <section id="section-start">

        {% include 'common/message.html' %}

        <div class="container">
            <div class="queries">
                <div class="text-center">
                    <h3 class="text-info font-weight-bold queries__title">Reply To Query</h3>
                </div>
                <hr>
                <div class="col-md-12 mx-auto">
                    <div class="alert alert-secondary p-4" role="alert">
                        <span class="font-weight-bold">Name : </span> {{ query.name }} <br>
                        <span class="font-weight-bold">Subject : </span> {{ query.subject }} <br>
                        <span class="font-weight-bold">Email : </span> {{ query.email }} <br>
                        <span class="font-weight-bold">Message : </span> {{ query.message }} <br>
                        <span class="font-weight-bold">Reply : </span>
                        {% if query.is_replied %}
                            {{ reply.answer }}
                        {% else %}
                            <form action="#" method="post">
                                {% csrf_token %}

                                <textarea type="text" name="reply_message" class="form-control"
                                          placeholder="Write your message here..."
                                          required style="height: 150px"></textarea>

                                <div class="text-center mt-3">
                                    <button id="submit" type="submit" class="btn btn-primary btn-lg font-weight-bold">
                                        Reply
                                    </button>
                                    <button id="btn-loader" class="btn btn-primary btn-lg font-weight-bold"
                                            type="button" disabled><span class="spinner-border spinner-border-sm"
                                                                         role="status"
                                                                         aria-hidden="true"></span>
                                        Please Wait...
                                    </button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}